{% extends './public/layout.html' %}
{% block header %}

<div class="wrap-container clearfix">
	<div class="column-content-detail">
		<form class="layui-form" action="">
			<div class="layui-form-item">
				<div class="layui-inline tool-btn">
					<button class="layui-btn layui-btn-small layui-btn-normal" id="addAttr"><i class="layui-icon">&#xe654;</i></button>
				</div> 

				<div class="layui-inline">
					<input type="text" name="q" value="{{q}}" required lay-verify="required" placeholder="请输入关键词" autocomplete="off" class="layui-input">
				</div>
				<button class="layui-btn layui-btn-normal" lay-submit="search">搜索</button>
				
				<button class="layui-btn layui-btn-primary" onclick="refresh();">刷新</button>
			</div>
		</form>
		 
 		<div class="layui-form" id="table-list">
			<table class="layui-table" lay-even lay-skin="nob">
				<colgroup>
					<col class="hidden-xs" width="50">
					<col>  
					<col class="hidden-xs" width="250">
					<col width="150">
				</colgroup>
				<thead>
					<tr>
						<th class="hidden-xs">ID</th> 
						<th class="hidden-xs">分类名称</th> 
						<th class="hidden-xs">创建时间</th> 
						<th>操作</th>
					</tr>
				</thead>
				<tbody>

  {% if total_num > 0 %}
        {% for item in list %}
  
					<tr id="row_{{item.attr_id}}">
						<td class="hidden-xs">{{item.attr_id}}</td>
						<td>{{item.attr_value}}</td> 
						<td class="hidden-xs">2017-10-14 10:22:21</td> 
						<td>
							<div class="layui-inline">
								<button class="layui-btn layui-btn-small layui-btn-normal editAttr" attr_id="{{item.attr_id}}"><i class="layui-icon">&#xe642;</i></button>
								<button class="layui-btn layui-btn-small layui-btn-danger deleAttr" attr_id="{{item.attr_id}}" ><i class="layui-icon">&#xe640;</i></button>
							</div>
						</td>
					</tr>
		{% endfor %} 
  {% endif %}

					 	
				</tbody>
			</table>

			<div class="page-wrap">
				 
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block footer %}
<script type="text/javascript">
	$('#addAttr').on('click',function(){
	 	layer.prompt({title: '输入分类名称', formType: 2}, function(text, index){ 
			if(text.length>0){
				Http({url:'/addAttr',method:'POST'},{attr_value:text,attr_group_id:1},
				  function(rsp){
					if(rsp.code == 2000){ 
						layer.msg(rsp.msg,{icon:1},function(){
							layer.close(index);
							location.reload();
						});
					} else {
						layer.msg(rsp.msg,{icon:2});
					}
				});	
			} else{
				layer.msg('请输入标签名',{icon:2});
			}
		});
		return false;
	});

 

	// 分类编辑
	$('body').on('click','.editAttr',function(){
		var params = {};
		params.attr_id = $(this).attr('attr_id');
	 	layer.prompt({title: '编辑分类名称', formType: 2}, function(text, index){ 
			if(text.length > 0){
				params.attr_value = text;
				Http({url:'/editAttr',method:'PUT'},params,
				  function(rsp){
					if(rsp.code == 2000){ 
						layer.msg(rsp.msg,{icon:1},function(){
							layer.close(index);
							location.reload();
						});
					} else {
						layer.msg(rsp.msg,{icon:2});
					}
				});	
			} else{
				layer.msg('请输入标签名',{icon:2});
			}
		});
		return false;
	});	

	// 分类删除
	$('body').on('click','.deleAttr',function(){
		var params = {};
		params.attr_id = $(this).attr('attr_id');
 		Http({url:'/deleAttr',method:'DELETE'},params, function(rsp){
			if(rsp.code == 2000){ 
				layer.msg(rsp.msg,{icon:1},function(){
					location.reload();
				});
			} else {
				layer.msg(rsp.msg,{icon:2});
			}
		});	
	 	return false;
	});
	
// 分页
window.call = function(current_page,page_size){
  location.href="/category-list?current_page="+current_page+'&page_size='+page_size+'&q={{q}}&qn={{qn}}';
} 
var html = multi(parseInt('{{total_num}}'), parseInt('{{current_page}}'), parseInt('{{page_size}}'),'call');
$('.page-wrap').html(html);
</script>
{% endblock %}